<section>
    <div class=" solar">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="sub-text mt-5">
                            <h2>
                                Elektrotechnik
                                <p> für Unternehmen, Industrie und
                                    Privathaushalte</p>

                            </h2>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/gewerbe.webp"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-5">

                        Ihre Experten für Elektroinstallation und Reparatur
                    </h4>
                    <p>Wir sind Ihre Anlaufstelle für Elektroinstallationen und
                        Elektroarbeiten in Bad Homburg und Umgebung.
                    </p>
                    <p>Unser Team hat seine Wurzeln in der gewerblichen
                        Elektroinstallation und verfügt dementsprechend über
                        eine langjährige Erfahrung in diesem Bereich. Daher ist
                        dieser Bereich auch unser stärkstes Leistungssegment.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>
                        HP Elektrotechnik Leistungen Elektrotechnik in der
                        Übersicht.
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="leftSide ">
                    <h4>
                        Elektro für Unternehmen
                    </h4>
                    <hr>
                    <ul>
                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>

                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>

                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="righSide ">
                    <h4>
                        Elektro für Zuhause & Büro
                    </h4>
                    <hr>
                    <ul>
                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>

                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>

                        <li class="mb-2"> <i class="fa fa-check" aria-hidden="true"></i>
                            Elektrische Anlagen
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                    Schaltanlagentechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Beleuchtungstechnik
                                </li>
                                <li> <i class="fa-solid fa-circle"></i>
                                    Sicherheitssysteme </li>
                                <li> <i class="fa-solid fa-circle"></i> Anlagen
                                    zur Brandmeldung (BMA)</li>
                                <li> <i class="fa-solid fa-circle"></i> und
                                    Sprachalarmsysteme (SAA)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class=" solar">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="sub-text mt-5">
                            <h2>
                                Elektrotechnik
                                <p> für Unternehmen, Industrie und
                                    Privathaushalte</p>

                            </h2>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class=" slider container pt-5">

        <owl-carousel-o [options]="testimonialOptions" dir="ltr">
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
          
        </owl-carousel-o>
      
      </div>

      <div class=" solar">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="sub-text mt-5">
                            <h2>
                                Elektrotechnik
                                <p> für Unternehmen, Industrie und
                                    Privathaushalte</p>

                            </h2>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class=" slider container pt-5">

        <owl-carousel-o [options]="testimonialOptions" dir="ltr">
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
          
        </owl-carousel-o>
      
      </div>

      <div class=" solar">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="sub-text mt-5">
                            <h2>
                                Elektrotechnik
                                <p> für Unternehmen, Industrie und
                                    Privathaushalte</p>

                            </h2>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class=" slider container pt-5">

        <owl-carousel-o [options]="testimonialOptions" dir="ltr">
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
      
          <ng-template carouselSlide>
      
      
            <div class="row g-4">
              <div  class="col-xl-5 ">
                <div class="test-card">
                  <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />
      
                </div>
              </div>
              <div class="col-xl-7 " >
                <h2 class="h4">LILIEN-CARRÉ</h2>
                <hr>
                <div class="star-container my-2 mt-4  " 
              >
                  
                </div>
              
                <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
      <p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
      <p>
        Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
      </p>      
      
      </div>
            </div>
      
          </ng-template>
          
        </owl-carousel-o>
      
      </div>

      <div class="container overflow-hidden mt-5 mb-5">
        <div class="row gy-4 gy-lg-0">
          <div class="col-12 col-lg-4">
            <article>
              <div class="card border-0">
    
                <div class="card-body border bg-white p-4 text-center">
                  <div class="entry-header mb-3">
                    <i class="fa-solid fa-screwdriver-wrench mb-3 mainI"></i>
                    <h2 class="card-title entry-title h4 mb-0">
                      <a class="link-dark text-decoration-none" href="#!">
                        Maintenance & Repair</a>
                    </h2>
                  </div>
                  <p class="card-text entry-summary text-secondary mb-3">
                    We using high quality of professional equipment and best
                    materials reasonable price at our company
                    .</p>
                </div>
              </div>
            </article>
          </div>
    
          <div class="col-12 col-lg-4">
            <article>
              <div class="card border-0">
    
                <div class="card-body border bg-white p-4 text-center ">
                  <div class="entry-header mb-3">
                    <i class="fa-solid fa-lightbulb mb-3 mainI"></i>
                    <h2 class="card-title entry-title h4 mb-0">
    
                      <a class="link-dark text-decoration-none" href="#!">Energy
                        Efficiency</a>
                    </h2>
                  </div>
                  <p class="card-text entry-summary text-secondary mb-3">
                    We using high quality of professional equipment and best
                    materials reasonable price at our company
                    .</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article>
              <div class="card border-0">
    
                <div class="card-body border bg-white p-4 text-center">
                  <div class="entry-header mb-3">
                    <i class="fa-solid fa-solar-panel mb-3 mainI"></i>
                    <h2 class="card-title entry-title h4 mb-0">
                      <a class="link-dark text-decoration-none" href="#!">Solar
                        System</a>
                    </h2>
                  </div>
                  <p class="card-text entry-summary text-secondary mb-3">
                    We using high quality of professional equipment and best
                    materials reasonable price at our company
                    .</p>
                </div>
              </div>
            </article>
          </div>
    
        </div>
      </div>


      <div class="container mt-5 mb-5 ">
        <div class="row mainItem2 p-5 ">
          <div class="col-md-9">
            <div class="  ">
              <h3>
                Jetzt unsere Kundenbroschüre per E-Mail anfordern. </h3>
              
      
            </div>
      
          </div>
          <div class="col-md-3  d-flex align-items-center justify-content-center ">
            <div class=" ">
              <button class="btn "> Learn More</button>
      
            </div>
      
          </div>
        </div>
      </div>
</section>
