<section class="solar-main">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                      id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Photovoltaik
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item"  (click)="scrollToElement(photov)"
                        
                        >5 gute Gründe für Photovoltaik</a></li>
                      <li><a class="dropdown-item" 
                        (click)="scrollToElement(Unabhangigkei)">Unabhängigkeit mit Solarstromspeicher?</a></li>
                     
                      <li><a class="dropdown-item" (click)="scrollToElement(umweltfreundlich)">Wie umweltfreundlich ist PV?</a></li>
                      <li><a class="dropdown-item" (click)="scrollToElement(KostenbeispielPVohne)">Kostenbeispiel PV ohne Batteriespeicher</a></li>
                     
                      
                      <li><a class="dropdown-item" (click)="scrollToElement(Elektrofahrzeuge)">Ladeanschlüsse für Elektrofahrzeuge</a></li>
                    </ul>
                  </li>
             
              <li class="nav-item">
                <a class="nav-link" (click)="scrollToElement(Unternehmen)">PV für Gewerbebetriebe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  (click)="scrollToElement(Forderung)">Förderung und Finanzierung</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="scrollToElement(Fragen)">Häufige Fragen</a>
              </li>
             
             
            </ul>
            
          </div>
        </div>
      </nav>
      <div class=" solar">
        <div class="overlay">
          <div class="container">
            <div class="row ">
              <div class="col-md-12">
                <div class="sub-text mt-5">
                  <h2>
                    
                   <p>   Wir sorgen für Klarheit.</p>
                  

                   HP Solartechnik Ratgeber
                  </h2>
                 
                </div>
              </div>
             
            
            </div>
          </div>
         
        </div>
        
      </div>

    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img1.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-5">

                        Ihre Experten für Elektroinstallation und Reparatur
                    </h4>
                    <p>Wir sind Ihre Anlaufstelle für Elektroinstallationen und
                        Elektroarbeiten in Bad Homburg und Umgebung.
                    </p>
                    <p>Unser Team hat seine Wurzeln in der gewerblichen
                        Elektroinstallation und verfügt dementsprechend über
                        eine langjährige Erfahrung in diesem Bereich. Daher ist
                        dieser Bereich auch unser stärkstes Leistungssegment.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section #photov>
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        5 überzeugende Argumente für Photovoltaik
                    </h2>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-3">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img8.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
        </div>
    </div>
</section>


   
    <div class="container "  #Unabhangigkei>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Unabhängig durch Solarstromspeicher?
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">

            
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img2.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
            </div>
       
    </div>

    <!---->
    <div class="container "  #umweltfreundlich>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Wie ökologisch ist Photovoltaik?
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img5.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
        </div>
    </div>

    <!---->
    <div class="container "  #KostenbeispielPVohne>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Rechenbeispiel für eine Photovoltaikanlage mit Stromspeicher
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">
          

            <div
                class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Einfamilienhaus mit 2 bis 3 Personen im Haushalt:
</h4>
                      <p> PV-Anlage auf Sattel-/Schrägdach mit mittlerer bis optimaler Sonneneinstrahlung.
                        </p>
                      <h4>  Details der PV-Anlage:</h4>
                        <p>
                        5,4 kWp Leistung / mit Energiespeicher
                        Schlüsselfertige Komplettanlage: 14.700,00 Euro zuzüglich Mehrwertsteuer.
                        </p>
                      <h4>  Verbrauchsprofil:</h4>
                        <ul>
                       
                        <li> Gesamter Stromverbrauch pro Jahr: 4.500 kWh</li>
                        
                        <li>40% des Solarstroms werden ins Netz eingespeist</li>
                        
                        <li>60% des Solarstroms werden direkt genutzt</li>
                        </ul>
                   
                    
                   


                </div>
            </div>
        </div>
    </div>

    <!---->
    <div class="container "  #Elektrofahrzeuge>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Wie ökologisch ist Photovoltaik?
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img5.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
        </div>
    </div>

      <!---->
      <div class="container "  #Unternehmen>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Photovoltaik für Unternehmen
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img5.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
        </div>
    </div>


     <!---->
     <div class="container "  #Forderung>
        <div class="row mt-4 mb-3">
            <div class="col-md-12">
                <div class="mainCard p-4" >
                    <h2>
                        Finanzierung und Förderung von Photovoltaik-Systemen
                    </h2>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="../../../assets/images/img5.jpg"
                        class="card-img-top" alt="...">

                </div>

            </div>

            <div
                class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="content ">
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
                    </p>
                    <h4 class="mb-3">

                        Erhöhte Unabhängigkeit bei den Stromkosten.
                    </h4>
                    <p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>


<h4 class="mb-3">

    Erhöhte Unabhängigkeit bei den Stromkosten.
</h4>
<p>Durch die Integration moderner Batteriespeichersysteme kann man mit einer Photovoltaikanlage bis zu 60% des eigenen Stromverbrauchs abdecken.
</p>
                </div>
            </div>
        </div>
    </div>
<!---->
<div class=" solar" #Fragen>
    <div class="overlay">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <div class="sub-text mt-5">
              <h2>
                
               <p>   Wir sorgen für Klarheit.</p>
              

               HP Solartechnik Ratgeber
              </h2>
             
            </div>
          </div>
         
        
        </div>
      </div>
     
    </div>
    
  </div>

  <!--divider-->
  <div class="container mb-5 mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="divider">
                <p class="maniA w-100 p-1 mb-2" data-bs-toggle="collapse"
                href="#collapseExample" role="button"
                 aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                      Ist Solarstrom generell rentabel?
                    
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Auch wenn der Standort nicht optimal sonnig ist, liefern moderne Solaranlagen immer noch beachtliche Leistungen. Es ist wichtig, die Größe der verfügbaren Dachflächen, die Ausrichtung des Dachs (idealerweise Süd-West, Süd, Süd-Ost) und mögliche Beschattungen, zum Beispiel durch Bäume zu prüfen. Außerdem spielt das Verbrauchsprofil eine Rolle, da es die Notwendigkeit eines Batteriespeichers beeinflusst.

                        Im Normalfall ist die Investition in Photovoltaik lohnenswert, doch es ist ratsam, die Umgebungsbedingungen und die bestehende Elektroinstallation genau zu betrachten. ir stehen Ihnen gerne beratend zur Seite und führen eine individuelle Kalkulation für Sie durch.

                    </div>
                  </div>
                  <!---->
                  <p class="maniA w-100 p-1 mb-2" data-bs-toggle="collapse"
                href="#section2" role="button"
                 aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                      Ist Solarstrom generell rentabel?
                    
                  </p>
                  <div class="collapse" id="section2">
                    <div class="card card-body">
                        Auch wenn der Standort nicht optimal sonnig ist, liefern moderne Solaranlagen immer noch beachtliche Leistungen. Es ist wichtig, die Größe der verfügbaren Dachflächen, die Ausrichtung des Dachs (idealerweise Süd-West, Süd, Süd-Ost) und mögliche Beschattungen, zum Beispiel durch Bäume zu prüfen. Außerdem spielt das Verbrauchsprofil eine Rolle, da es die Notwendigkeit eines Batteriespeichers beeinflusst.

                        Im Normalfall ist die Investition in Photovoltaik lohnenswert, doch es ist ratsam, die Umgebungsbedingungen und die bestehende Elektroinstallation genau zu betrachten. ir stehen Ihnen gerne beratend zur Seite und führen eine individuelle Kalkulation für Sie durch.

                    </div>
                  </div>

                    <!---->
                    <p class="maniA w-100 p-1 mb-2" data-bs-toggle="collapse"
                    href="#section3" role="button"
                     aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          Ist Solarstrom generell rentabel?
                        
                      </p>
                      <div class="collapse" id="section3">
                        <div class="card card-body">
                            Auch wenn der Standort nicht optimal sonnig ist, liefern moderne Solaranlagen immer noch beachtliche Leistungen. Es ist wichtig, die Größe der verfügbaren Dachflächen, die Ausrichtung des Dachs (idealerweise Süd-West, Süd, Süd-Ost) und mögliche Beschattungen, zum Beispiel durch Bäume zu prüfen. Außerdem spielt das Verbrauchsprofil eine Rolle, da es die Notwendigkeit eines Batteriespeichers beeinflusst.
    
                            Im Normalfall ist die Investition in Photovoltaik lohnenswert, doch es ist ratsam, die Umgebungsbedingungen und die bestehende Elektroinstallation genau zu betrachten. ir stehen Ihnen gerne beratend zur Seite und führen eine individuelle Kalkulation für Sie durch.
    
                        </div>
                      </div>

                        <!---->
                  <p class="maniA w-100 p-1 mb-2" data-bs-toggle="collapse"
                  href="#section4" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Ist Solarstrom generell rentabel?
                      
                    </p>
                    <div class="collapse" id="section4">
                      <div class="card card-body">
                          Auch wenn der Standort nicht optimal sonnig ist, liefern moderne Solaranlagen immer noch beachtliche Leistungen. Es ist wichtig, die Größe der verfügbaren Dachflächen, die Ausrichtung des Dachs (idealerweise Süd-West, Süd, Süd-Ost) und mögliche Beschattungen, zum Beispiel durch Bäume zu prüfen. Außerdem spielt das Verbrauchsprofil eine Rolle, da es die Notwendigkeit eines Batteriespeichers beeinflusst.
  
                          Im Normalfall ist die Investition in Photovoltaik lohnenswert, doch es ist ratsam, die Umgebungsbedingungen und die bestehende Elektroinstallation genau zu betrachten. ir stehen Ihnen gerne beratend zur Seite und führen eine individuelle Kalkulation für Sie durch.
  
                      </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
 

    
</section>
