


<section class="">
  <div>
    <img src="../../../assets/images/team2.webp" alt="">
  </div>
<div class="container mt-5  mb-5">
  <div class="row ">
    <div class="col-md-4">
      <div class="head">
        <span>seit 2015 in Bad Homburg

         </span>
         
         <h2>
          HP Elektrotechnik GmbH
         </h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content">
        <p>
          Seit dem 20. Jahrhundert haben sich Elektroinstallationen stark weiterentwickelt. Elektronik und moderne Computersteuerung sind heute essenzielle Komponenten moderner Elektroinstallationen und -systeme.
        </p>
      </div>
    </div>
  </div>

  

  
  <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center mt-5 mb-5">
    
    <div class="col-12 col-lg-6 col-xl-7">
      <div class="row justify-content-xl-center">
        <div class="col-12 col-xl-11">
          <h2 class="mb-3">Spezialisten für jede Aufgabe.</h2>
          <p class="lead fs-5 text-secondary mb-3">
            I am an Electrical Engineer with 14 years of experience in electrical engineering and programming of electrical systems. I hold a Bachelor’s degree in Electrical Engineering from the University of the District of Columbia in Washington, DC, USA. Additionally, I have obtained the "Approval to use the professional title of Engineer" from Bavaria, Germany. I am also registered in the Chamber of Crafts Craftsmen's Register as an Electrical Technician.
          </p>
          <p class="lead fs-5 text-secondary mb-3">
            I hold a Master’s degree in Embedded System Design from Hochschule Bremerhaven, Germany. My expertise includes designing and programming electrical systems, ensuring compliance with industry standards, reliability, and innovation in my work.
          </p>
          <p>
            <strong>Wir liefern hochentwickelte Lösungen mit dauerhaften Vorteilen für unsere Kunden:</strong>
          </p>
          <ul>
            <li>
               <i class="fa fa-check me-3" aria-hidden="true"></i>
                <strong>Einsparungen </strong>
                <br>
mit fortschrittlicher Beleuchtungstechnologie für Privathaushalte und Geschäftsräume.
             
            </li>


            <li>
              <i class="fa fa-check me-3" aria-hidden="true"></i>
               <strong>Komfort und Schutz </strong>
               <br>
               durch smarte Steuerungssysteme für Beleuchtung, Beschattung, Videoüberwachung, Heizsysteme und vieles mehr.
            
           </li>
           <li>
            

         <li>
          <i class="fa fa-check me-3" aria-hidden="true"></i>
           <strong>Unabhängigkeit von Energieversorgern </strong>
           <br>
           dank Photovoltaiksystemen, die mit Stromspeichern und Ladestationen und Wallboxen für Elektroautos erweiterbar sind.
        
       </li>


       <li>
        <i class="fa fa-check me-3" aria-hidden="true"></i>
         <strong>Kommerzielle Elektrosysteme </strong>
         <br>
         mit Fachwissen in Brandmeldeanlagen, Sprachalarmierungsanlagen und der Implementierung von EDV-Netzwerken.
      
     </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-5">

      <div class="card text-center" >
        <img class="img-fluid rounded" loading="lazy" src="../../../assets/images/aboutMe.jpg" alt="About 1">
        <div class="card-body">
          <h3 class="card-title">Unsere Kunden stehen an erster Stelle!</h3>
          <p>Wir versprechen hohe Qualität, ehrliche und klare Preispolitik sowie einen prompten und jederzeit verfügbaren Kundendienst.</p>
          
        </div>
      </div>


     
    </div>
  </div> 

</div>


<div class=" solar">
  <div class="overlay">
    <div class="container">
      <div class="row  text-center">
        <div class="col-md-12">
          <div class="sub-text mt-5 ">
            <h2>
              Referenzen  
            </h2>

             <p>  im Bereich gewerblicher Elektroinstallationen</p>
          
           
          </div>
        </div>
       
      
      </div>
    </div>
   
  </div>
  
</div>



  <div class=" slider container pt-5">

  <owl-carousel-o [options]="testimonialOptions" dir="ltr">
    <ng-template carouselSlide>


      <div class="row g-4">
        <div  class="col-xl-5 ">
          <div class="test-card">
            <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />

          </div>
        </div>
        <div class="col-xl-7 " >
          <h2 class="h4">LILIEN-CARRÉ</h2>
          <hr>
          <div class="star-container my-2 mt-4  " 
        >
            
          </div>
        
          <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
<p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
<p>
  Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
</p>      

</div>
      </div>

    </ng-template>

    <ng-template carouselSlide>


      <div class="row g-4">
        <div  class="col-xl-5 ">
          <div class="test-card">
            <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />

          </div>
        </div>
        <div class="col-xl-7 " >
          <h2 class="h4">LILIEN-CARRÉ</h2>
          <hr>
          <div class="star-container my-2 mt-4  " 
        >
            
          </div>
        
          <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
<p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
<p>
  Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
</p>      

</div>
      </div>

    </ng-template>

    <ng-template carouselSlide>


      <div class="row g-4">
        <div  class="col-xl-5 ">
          <div class="test-card">
            <img class="w-100 h-100" src="../../../assets/images/slideop1.webp" alt="" />

          </div>
        </div>
        <div class="col-xl-7 " >
          <h2 class="h4">LILIEN-CARRÉ</h2>
          <hr>
          <div class="star-container my-2 mt-4  " 
        >
            
          </div>
        
          <p class="paragraph">Die Revitalisierung des Shopping-Centers am Bahnhof in Wiesbaden umfasst sämtliche Allgemeinbereiche und den Grundausbau der einzelnen Mietungen.</p>
<p>Elektrotechnisch bietet dieses Bauvorhaben die klassischen Herausforderungen eines Bestandsgebäudes im Umbau. Anpassung der Stromversorgung für Mieterübergabepunkte, Eingriff in sämtliche Unterteilungen nebst Umstrukturierung der Sicherheitsbeleuchtung erfordern ein höchstes Maß an technischen Verständnis und nachhaltiges Arbeiten nicht nur in Bezug auf gewissenhafte Plandokumentation.</p>
<p>
  Ein interessantes Bauvorhaben welches wir über die Bauzeit von ca. 16 Monaten elektrotechnisch realisieren dürfen.
</p>      

</div>
      </div>

    </ng-template>
    
  </owl-carousel-o>

</div>





<div class=" solar">
  <div class="overlay">
    <div class="container">
      <div class="row  text-center">
        <div class="col-md-12">
          <div class="sub-text mt-5 mb-5">
            <h2>
            
              Wie dürfen wir behilflich sein?

             
            
            </h2>
           
          </div>
        </div>
       
      
      </div>
    </div>
   
  </div>
  
</div>

<div class="container">
  <div class="row">
<div class="col-md-6">
  <div class="leftSide p-2">
    <h3>
      In Bad Homburg und dem Großraum Frankfurt für Sie im Einsatz:
    </h3>
    <hr>
    <img src="../../../assets/images/map.png" alt="">
  </div>
</div>

<div class="col-md-6">
  <div class="righSide p-2">
    <h3>
      Setzen Sie sich mit unserem Kundendienst in Verbindung
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-phone mainI" aria-hidden="true"></i>
      </div>

      <div class="col-md-10">
        <ul>
          <li> <span class="phoneNumber">
              06102 – 822 30 00
            </span></li>
          <li> Montag – Donnerstag 07:30 – 17:00 Uhr</li>
          <li> Freitag 07:30 – 15:00 Uhr</li>
        </ul>
      </div>

    </div>
    <p>
      Unser Kundendienst freut sich auf Sie und steht Ihnen mit schneller und versierter Unterstützung zur Verfügung. Überzeugen Sie sich selbst von HP Elektrotechnik!
    </p>
    <hr>
    <div class="fs-3">
      <p>
        Standard Electric
       <br> Saalburgstrasse 155
       <br> 61350 Bad Homburg v.d. Höhe
      </p>
      <p> <i class="fa fa-phone icon" aria-hidden="true"></i> 06102 – 822 30
        00</p>

      <p><i class="fa fa-envelope icon" aria-hidden="true"></i> info-
        gmail.com
      </p>
    </div>
  </div>
</div>
  </div>
</div>



<div class="container mt-5 mb-5 ">
  <div class="row mainItem2 p-5 ">
    <div class="col-md-9">
      <div class="  ">
        <h3>
          Jetzt unsere Kundenbroschüre per E-Mail anfordern. </h3>
        

      </div>

    </div>
    <div class="col-md-3  d-flex align-items-center justify-content-center ">
      <div class=" ">
        <button class="btn "> Learn More</button>

      </div>

    </div>
  </div>
</div>
 
  </section>
