<nav class="navbar navbar-expand-lg  bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <img src="../../../assets/images/logo3.drawio.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link  " aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="services" routerLinkActive="active"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li>
                <a class="dropdown-item " routerLink="gewerbe">
                <i class="fa fa-angle-right me-3" aria-hidden="true"></i> Elektroanlagen Gewerbe</a>
                <ul>
                  <li>
                    <a class="dropdown-item " routerLink="solar">
                      Solar Ratgeber</a>
                  </li>
                  <li>
                    <a class="dropdown-item " routerLink="information">
                      Informationen anfordern</a>
                  </li>
                </ul>
              </li>
             

              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item " routerLink="photovotalic">
                <i class="fa fa-angle-right me-3" aria-hidden="true"></i>Photovoltaik </a>
             
              
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item " routerLink="electromobilit">
                <i class="fa fa-angle-right me-3" aria-hidden="true"></i> Elektromobilität</a>
              
              
              </li>

             
             
              </ul>
              
              </li>
        
          <!-- <li class="nav-item">
            <a class="nav-link " routerLink="profile" routerLinkActive="active">Profile</a>
          </li> -->
         
          <li class="nav-item">
            <a class="nav-link " routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <i class="fa-solid fa-globe main"></i>
      </div>
    </div>
  </nav>
