<section class>
  <div class="  home ">
    <div class="overlay">
      <div class="container">
        <div class="row ">
          <div class="col-md-12   d-flex align-items-center justify-content-center">
            <div class=" mt-5 text-center">
              <p class="main-p">Die wertvollsten Aspekte des Lebens benötigen keine Elektrizität…</p>
              <p class="subTitle">
                <strong>für alles weitere stehen wir zur Verfügung.</strong>
              </p>
              <button class="btn mainBtn mt-4">Learn More</button>
            </div>
          
          </div>
        </div>
      </div>
           
  </div>

  </div>
  <div class="container mt-5 mb-2">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center" >
          <img src="../../../assets/images/item1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Elektrotechnik</h3>
            <p>Unser erfahrenes Team ist versiert in der traditionellen Elektroinstallation sowie in Brandmeldeanlagen, Sprachalarmierungsanlagen und im Aufbau von IT-Netzwerken.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center" >
          <img src="../../../assets/images/item2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Elektrotechnik</h3>
            <p>Unser erfahrenes Team ist versiert in der traditionellen Elektroinstallation sowie in Brandmeldeanlagen, Sprachalarmierungsanlagen und im Aufbau von IT-Netzwerken.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center" >
          <img src="../../../assets/images/item3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Elektrotechnik</h3>
            <p>Unser erfahrenes Team ist versiert in der traditionellen Elektroinstallation sowie in Brandmeldeanlagen, Sprachalarmierungsanlagen und im Aufbau von IT-Netzwerken.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container intro mt-5">
  <div class="row">
    <div class="col-md-12">
      <div>
        <p class="intro-p-1">
          Elektro • Photovoltaik • Elektromobilität
        </p>
        <h2>
         <span> HP Elektrotechnik</span> für Bad Homburg, Frankfurt & die Region.
        </h2>
        <p class="intro-p-2">
          Wir garantieren einen reibungslosen Energiefluss. Sei es bei Photovoltaik, Elektroinstallation oder innovativen Ladelösungen für Ihr Elektroauto. Unser Meisterbetrieb für Elektrotechnik in Bad Homburg liefert Fachkompetenz und verlässlichen Service für Privathaushalte, Geschäftskunden und industrielle Einrichtungen.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-7">
      <div class="team">
        <img src="../../../assets/images/team2.webp" alt="">
      </div>
     
    </div>
    <div class="col-md-5">
      <div class="card text-center" >
       
        <div class="card-body">
          <h4 class="card-title">Wir brennen für Kundenservice,
            der Sie begeistert.</h4>
          <p>Unser erfahrenes Team ist versiert in der traditionellen Elektroinstallation sowie in Brandmeldeanlagen, Sprachalarmierungsanlagen und im Aufbau von IT-Netzwerken.</p>
          <h4>Unser Versprechen: Top-Service zu fairen Konditionen.</h4>

        </div>
        </div>
    </div>
  </div>
</div>

<div class=" solar">
  <div class="overlay">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <div class="sub-text mt-5">
            <h2>
              Elektrotechnik
             <p>  für Unternehmen, Industrie und Privathaushalte</p>
            
            </h2>
           
          </div>
        </div>
       
      
      </div>
    </div>
   
  </div>
  
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center cable" >
        <img  class="img-fluid rounded" src="../../../assets/images/cables.png" 
        class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Elektrotechnik</h3>
          <p>Unser erfahrenes Team ist versiert in der traditionellen Elektroinstallation sowie in Brandmeldeanlagen, Sprachalarmierungsanlagen und im Aufbau von IT-Netzwerken.</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="data p-3">
        	<h3 class="mb-3">
Ihre Spezialisten für Elektroinstallationen und Instandsetzungen</h3>
<p class="mb-3 sideP">
  Unsere Wurzeln liegen in der Elektroinstallation für Gewerbe und unsere langjährige Expertise in diesem Bereich macht ihn zu unserer Kernkompetenz.

</p>
<h4 class="mb-3">
  Elektrotechnik für Geschäfts- und Industriebereiche:

</h4>
<ul>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Elektroinstallation
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    
Netzwerktechnologie
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Beleuchtungssysteme
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Fehlerdiagnose und -behebung
  </li>

  
 
</ul>

<h4 class="mt-4">
 <span class="mainSpan">
  HP Elektrotechnik – 
 </span> Ihr kompetenter Partner für sämtliche Elektroinstallationen und Elektrikerarbeiten in Bad Homburg und Umgebung.
</h4>

<button class="btn mainBtn mt-5 w-100">Learn More</button>
      </div>
    </div>
  </div>
</div>


<div class=" solar">
  <div class="overlay">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <div class="sub-text mt-5">
            <h2>
              Elektromobilitätslösungen
             <p>  für Unternehmen, Industrie und Privathaushalte</p>
            
            </h2>
           
          </div>
        </div>
       
      
      </div>
    </div>
   
  </div>
  
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center cable" >
        <img  class="img-fluid rounded" src="../../../assets/images/photovoltaik-hero-gross.jpg" 
        class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">	
            Fortschrittliche Technologien für zügiges und reibungsloses Aufladen</h3>
          <p>Unsere erfahrenen Fachleute beraten Sie zukunftsorientiert, implementieren technologisch hochentwickelte Systeme und gewährleisten den langfristigen störungsfreien Betrieb Ihrer Ladeinfrastruktur, gepaart mit vorbildlichem Kundenservice.</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="data p-3">
        	<h3 class="mb-3">
Ihre Spezialisten für Elektroinstallationen und Instandsetzungen</h3>
<p class="mb-3 sideP">
  Unsere Wurzeln liegen in der Elektroinstallation für Gewerbe und unsere langjährige Expertise in diesem Bereich macht ihn zu unserer Kernkompetenz.

</p>
<h4 class="mb-3">
  Ladestationen für Privathaushalte, Geschäftswelt und öffentliche Einrichtungen:

</h4>
<ul>
  
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    
Netzwerktechnologie
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Beleuchtungssysteme
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Alle Dienstleistungen aus einer Quelle
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Intelligente Lösungen für dynamisches Lastmanagement
  </li>
  
 
</ul>

<h4 class="mt-4">
 <span class="mainSpan">
  HP Elektromobilität – 
 
 </span> 
 mit uns gestaltet sich Ihre Elektromobilität mühelos. Entdecken Sie weitere Leistungen in diesem Bereich: Wallbox Installation Bad Homburg, Wallbox Installation Frankfurt, Wallbox Installation Hanau, Wallbox Installation Offenbach
</h4>

<button class="btn mainBtn mt-5 w-100">Learn More</button>
      </div>
    </div>
  </div>
</div>





<div class=" solar">
  <div class="overlay">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <div class="sub-text mt-5">
            <h2>
              Elektromobilitätslösungen
             <p>  für Unternehmen, Industrie und Privathaushalte</p>
            
            </h2>
           
          </div>
        </div>
       
      
      </div>
    </div>
   
  </div>
  
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center cable" >
        <img  class="img-fluid rounded" src="../../../assets/images/maintinance.jpg" 
        class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">	
            Fortschrittliche Technologien für zügiges und reibungsloses Aufladen</h3>
          <p>Unsere erfahrenen Fachleute beraten Sie zukunftsorientiert, implementieren technologisch hochentwickelte Systeme und gewährleisten den langfristigen störungsfreien Betrieb Ihrer Ladeinfrastruktur, gepaart mit vorbildlichem Kundenservice.</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="data p-3">
        	<h3 class="mb-3">
Ihre Spezialisten für Elektroinstallationen und Instandsetzungen</h3>
<p class="mb-3 sideP">
  Unsere Wurzeln liegen in der Elektroinstallation für Gewerbe und unsere langjährige Expertise in diesem Bereich macht ihn zu unserer Kernkompetenz.

</p>
<h4 class="mb-3">
  Ladestationen für Privathaushalte, Geschäftswelt und öffentliche Einrichtungen:

</h4>
<ul>
  
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    
Netzwerktechnologie
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Beleuchtungssysteme
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Alle Dienstleistungen aus einer Quelle
  </li>
  <li>
    <i class="fa fa-check me-3" aria-hidden="true"></i>
    Intelligente Lösungen für dynamisches Lastmanagement
  </li>
  
 
</ul>

<h4 class="mt-4">
 <span class="mainSpan">
  HP Elektromobilität – 
 
 </span> 
 mit uns gestaltet sich Ihre Elektromobilität mühelos. Entdecken Sie weitere Leistungen in diesem Bereich: Wallbox Installation Bad Homburg, Wallbox Installation Frankfurt, Wallbox Installation Hanau, Wallbox Installation Offenbach
</h4>

<button class="btn mainBtn mt-5 w-100">Learn More</button>
      </div>
    </div>
  </div>
</div>



  

  <!-- <div class="container mb-4 mt-4">
    <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-12 col-xl-11">
            <h3 class="fs-6 text-secondary mb-3 mb-xl-4 text-uppercase">What We
              Do?</h3>
            <h2 class="display-5 mb-3 mb-xl-4">We are giving you perfect
              solutions with our proficient services.</h2>
            <p class="">Our comprehensive suite of services is
              designed to meet your every need and help you thrive in today's
              dynamic business landscape. Contact us today to embark on a
              journey of growth, innovation, and unparalleled support. Your
              success is our priority.</p>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="card  text-center ">
    
                  <div class="card-body">
                    <div class="entry-header">
                     
                    
                      <p class="card-title  mb-0 mt-2">
                        <span class="circle  circle-main">
                          <i class=" fa-solid fa-magnifying-glass"></i>
                        </span>
                        
                        Identify problem
                      </p>
                    </div>
                   
                  </div>
                </div>
             
              </div>

              <div class="col-md-6 mb-3">
                <div class="card  text-center ">
    
                  <div class="card-body">
                    <div class="entry-header">
                     
                    
                      <p class="card-title  mb-0 mt-2">
                        <span class="circle  circle-main">
                          <i class="fa-solid fa-plug"></i>
                        </span>
                        
                         time & cost
                      </p>
                    </div>
                   
                  </div>
                </div>
             
              </div>

              <div class="col-md-6 mb-3">
                <div class="card  text-center ">
    
                  <div class="card-body">
                    <div class="entry-header">
                     
                    
                      <p class="card-title  mb-0 mt-2">
                        <span class="circle  circle-main">
                          <i class="fa-solid fa-screwdriver-wrench"></i>
                        </span>
                        
                      Applay Service
                      </p>
                    </div>
                   
                  </div>
                </div>
             
              </div>
              <div class="col-md-6 mb-3">
                <div class="card  text-center ">
    
                  <div class="card-body">
                    <div class="entry-header">
                     
                    
                      <p class="card-title  mb-0 mt-2">
                        <span class="circle  circle-main">
                          <i class="fa-solid fa-lightbulb"></i>
                        </span>
                        
                        Applay Solution
                      </p>
                    </div>
                   
                  </div>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="../../../assets/images/project-1.jpg" alt="About 1">
      </div>
      </div>



      <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center mt-5">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="../../../assets/images/project-1.jpg" alt="About 1">
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-xl-11">
              <h2 class="display-5 mb-3 mb-xl-4">Great reason for the people choose our service</h2>
              <p class="">Our comprehensive suite of services is
                designed to meet your every need and help you thrive in today's
                dynamic business landscape. Contact us today to embark on a
                journey of growth, innovation, and unparalleled support. Your
                success is our priority.</p>
                <h5 class="  mb-0 mt-2">
                  <span class="">
                    <i class="fa-solid fa-check-double main me-4"></i>
                  </span>
                  
                  Custom
                  support
                </h5>
                <h5 class="  mb-0 mt-2">
                  <span class="">
                    <i class="fa-solid fa-check-double main me-4"></i>
                  </span>
                  
                  Insured expert
                </h5>
                <h5 class="  mb-0 mt-2">
                  <span class="">
                    <i class="fa-solid fa-check-double main me-4"></i>
                  </span>
                  
                  Flat rate
                </h5>
                <h5 class="  mb-0 mt-2">
                  <span class="">
                    <i class="fa-solid fa-check-double main me-4"></i>
                  </span>
                  
                  24/7 Available
                </h5>
             <button class="btn MainBtn mt-4">Lrean More</button>
            </div>
          </div>
        </div>
       
        </div>
    </div> --> 


</section>
